<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/adminregister.css' %}">
</head>
<body>




<div id="login">

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                                           {% csrf_token %}

                            <h3 class="text-center text-primary">Admin Register </h3>
                            <hr>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <span id="username"> {{form.username}}</span>
                            </div>

                                 <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <span id="email"> {{form.email}}</span>
                            </div>
                            <div class="form-group">
                                <label for="password1" class="text-info">Password:</label><br>
                                <span id="password1">{{form.password1}}</span>
                            </div>
                             <div class="form-group">
                                <label for="password2" class="text-info">Confirm Password:</label><br>
                                 <span id="password2">{{form.password2}}</span>
                            </div>

                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span>&nbsp
                                    <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>

                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">Already have an account?
                                <a href=" {% url 'login' %}" >Login here</a>
                            </div>
                            <span class='text-danger'>{{ form.errors }}</span>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>