<div class="row">

    <div class="col-md-3">
        <div class="card text-black mb-3" id="totalorder">
            <div class="card-header">
                <h5> Total Order</h5>

            </div>
            <div class="card-body">
                <h5 class="card-title">{{ totalorder }} </h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-green mb-3" id="outfordelivery">
            <div class="card-header">
                <h5> Out for Delivery</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ outfordelivery }}</h5>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white mb-3" id="orderpending">
            <div class="card-header">
                <h5>Order Pending</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ orderpending }}</h5>

            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card text-red mb-3" id="orderdelivered">
            <div class="card-header">
                <h5>Order Delivered</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ orderdelivered }}</h5>

            </div>
        </div>
    </div>


</div>

<hr>

